picture > img {
    position: absolute;
    top: 55px;
    left: 5px;
    width: 170px;
    height: 200px;
    z-index: 10;
    border-width: thick;
    border-style: double;
    border-color: black;
}
name {
    position: absolute;
    top: Opx;
    left: 15px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 20pt;
    color: white;
    font-style: italic;
    font-weight: bold;
}
tldr{
    position: absolute;
    top: 10px;
    left: 300px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 14pt;
    color: white;
    font-style: italic;
}
topbanner > img{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    z-index: 1;
}
summary {
    position: absolute;
    top: 55px;
    left: 195px;
    width: 325px;
    height: 200px;
    z-index: 10;
    border-width: thick;
    border-style: double;
    border-color: black;
    font-family: serif;
    font-size: 12pt;
    color: white;
    background-image: linear-gradient(left top, dimgray 25%, #E0FFD1 5%);
    background-image: -o-linear-gradient(left top, 25%, #E0FFD1 5%);
    background-image: -moz-linear-gradient(left top, dimgray 25%, #E0FFD1 5%);
    background-image: -webkit-linear-gradient
    (left top, dimgray 25%, #E0FFD1 5%);
    background-image: -ms-linear-gradient(left top, dimgray 25%, #E0FFD1 5%);
    background-image: -webkit-gradient(linear,left top,right bottom,
    color-stop(0.25, dimgray),
    color-stop(0.95, DarkSlateGray));
}
body {
    background-image: linear-gradient(left top, dimgray 2%, #E0FFD1 65%);
    background-image: -o-linear-gradient(left top,  2%, #E0FFD1 65%);
    background-image: -moz-linear-gradient(left top, dimgray 2%, #E0FFD1 65%);
    background-image: -webkit-linear-gradient
    (left top, dimgray 2%, #E0FFD1 65%);
    background-image: -ms-linear-gradient(left top, dimgray 2%, #E0FFD1 65%);
    background-image: -webkit-gradient(linear,left top,right bottom,
    color-stop(0.02, dimgray),
    color-stop(0.65, black));
}
languages {
    position: absolute;
    top: 290px;
    left: 265px;
    width: 255px;
    z-index: 1;
    font-family: serif;
    font-size: 14pt;
    color: white;
     border-width: thick;
    border-style: double;
    border-color: black;
     background-image: linear-gradient(left top, dimgray 25%, #E0FFD1 5%);
    background-image: -o-linear-gradient(left top, 25%, #E0FFD1 5%);
    background-image: -moz-linear-gradient(left top, dimgray 25%, #E0FFD1 5%);
    background-image: -webkit-linear-gradient
    (left top, dimgray 25%, #E0FFD1 5%);
    background-image: -ms-linear-gradient(left top, dimgray 25%, #E0FFD1 5%);
    background-image: -webkit-gradient(linear,left top,right bottom,
    color-stop(0.25, dimgray),
    color-stop(0.95, DarkSlateGray));
}
projects {
    position: absolute;
    top: 290px;
    left: 5px;
    width: 250px;
    z-index: 1;
    font-family: serif;
    font-size: 14pt;
    color: white;
    border-width: thick;
    border-style: double;
    border-color: black;
    background-image: linear-gradient(left top, dimgray 25%, #E0FFD1 5%);
    background-image: -o-linear-gradient(left top, 25%, #E0FFD1 5%);
    background-image: -moz-linear-gradient(left top, dimgray 25%, #E0FFD1 5%);
    background-image: -webkit-linear-gradient
    (left top, dimgray 25%, #E0FFD1 5%);
    background-image: -ms-linear-gradient(left top, dimgray 25%, #E0FFD1 5%);
    background-image: -webkit-gradient(linear,left top,right bottom,
    color-stop(0.25, dimgray),
    color-stop(0.95, DarkSlateGray));
}
contacts {
    position: absolute;
    top: 540px;
    left: 265px;
    width: 255px;
    height: 120px;
    z-index: 1;
    font-family: serif;
    font-size: 12pt;
    color: white;
     border-width: thick;
    border-style: double;
    border-color: black;
     background-image: linear-gradient(left top, dimgray 25%, #E0FFD1 5%);
    background-image: -o-linear-gradient(left top, 25%, #E0FFD1 5%);
    background-image: -moz-linear-gradient(left top, dimgray 25%, #E0FFD1 5%);
    background-image: -webkit-linear-gradient
    (left top, dimgray 25%, #E0FFD1 5%);
    background-image: -ms-linear-gradient(left top, dimgray 25%, #E0FFD1 5%);
    background-image: -webkit-gradient(linear,left top,right bottom,
    color-stop(0.25, dimgray),
    color-stop(0.95, DarkSlateGray));
}
bottombanner > img{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    z-index: 1;
}